Repository xapi-project/xen-api, pull requests merged in 2024-06, with the labels that each got.

#5648 CP-47928: Add component test for Go SDK
  ocaml/sdk-gen/component-test/README.md
  ocaml/sdk-gen/component-test/jsonrpc-client/go/error_test.go
  ocaml/sdk-gen/component-test/jsonrpc-client/go/event_test.go
  ocaml/sdk-gen/component-test/jsonrpc-client/go/main_test.go
  ocaml/sdk-gen/component-test/jsonrpc-client/go/session_test.go
  ocaml/sdk-gen/component-test/jsonrpc-client/go/vm_test.go
  ocaml/sdk-gen/component-test/jsonrpc-server/server.py
  ocaml/sdk-gen/component-test/run-tests.sh
  ocaml/sdk-gen/component-test/spec/session.json
  ocaml/sdk-gen/component-test/spec/xapi-24/async_vm_import.json
  ocaml/sdk-gen/component-test/spec/xapi-24/event_from.json
  ocaml/sdk-gen/component-test/spec/xapi-24/http_error.json
  ocaml/sdk-gen/component-test/spec/xapi-24/rpc_error.json
  ocaml/sdk-gen/component-test/spec/xapi-24/session_login.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_get_all_records.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_get_data_sources.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_get_snapshot_time.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_import.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_migrate_send.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_query_data_source.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_retrieve_wlb_recommendations.json
  ocaml/sdk-gen/component-test/spec/xapi-24/vm_special_value.json
  ocaml/sdk-gen/component-test/spec/xapi-24/xapi_error.json
Labels: sdk-members-only

#5671 CP-49768: Update GO SDK README file
  ocaml/sdk-gen/README.md
  ocaml/sdk-gen/go/README.md
Labels: sdk-members-only

#5673 CA-393866: Add support for Infinity in Java SDK parser
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Labels: sdk-members-only, ITE

#5723 Tweaks to the API reference generator
  ocaml/idl/autogen/management-api.md
  ocaml/idl/markdown_backend.ml
  ocaml/idl/templates/api_errors.mustache
  ocaml/idl/templates/class.mustache
  ocaml/idl/templates/classes.mustache
  ocaml/idl/templates/relationships.mustache
  ocaml/idl/templates/toc.mustache
  ocaml/idl/templates/types.mustache
Labels: sdk-members-only

#5749 [ASAP] CA-394921: Ignore unknown properties during Java SDK deserialisation
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/JsonRpcClient.java
Labels: please review, sdk-members-only
