Repository xapi-project/xen-api, pull requests merged in 2024-05, with the labels that each got.

#5583 CP-48195: Instrument client side of `forkexecd`
  ocaml/forkexecd/lib/fecomms.ml
  ocaml/forkexecd/lib/forkhelpers.ml
  ocaml/forkexecd/lib/forkhelpers.mli
  ocaml/libs/tracing/tracing.ml
  ocaml/libs/tracing/tracing.mli
  ocaml/xapi/sm_exec.ml
  ocaml/xapi/xapi_observer_components.ml
  ocaml/xapi/xapi_observer_components.mli
Labels: reviewed

#5610 [ASAP] CA-392453: Misc fixes to Java SDK
  ocaml/sdk-gen/java/autogen/xen-api/src/main/java/com/xensource/xenapi/Connection.java
  ocaml/sdk-gen/java/main.ml
Labels: sdk-members-only

#5636 CA-392930: Fixed exception handling which prevents connection
  ocaml/sdk-gen/powershell/autogen/src/Connect-XenServer.cs
  ocaml/sdk-gen/powershell/autogen/src/Properties/launchSettings.json
  ocaml/sdk-gen/powershell/autogen/src/XenServerPowerShell.csproj
Labels: sdk-members-only

#5641 Updating CI
  .github/workflows/other.yml
  .pre-commit-config.yaml
  pyproject.toml
  python3/bin/hfx_filename
  python3/libexec/nbd_client_manager.py
  python3/libexec/usb_reset.py
  python3/libexec/usb_scan.py
  python3/packages/observer.py
  python3/stubs/XenAPI.pyi
  python3/stubs/xcp/branding.py
  python3/stubs/xcp/logger.pyi
  python3/tests/observer/__init__.py
  python3/tests/observer/all.conf
  python3/tests/observer/it_handles_errors.py
  python3/tests/observer/it_traces.py
  python3/tests/observer/observer.conf
  python3/tests/observer/traced_script.py
  python3/tests/test_perfmon.py
  python3/tests/test_usb_scan.py
  pytype_reporter.py
  scripts/test_mail-alarm.py
Labels: py3-update

#5661 Go SDK: Misc fixes for on-going component tests
  .golangci.yml
  ocaml/sdk-gen/go/autogen/src/jsonrpc_client.go
  ocaml/sdk-gen/go/gen_go_helper.ml
  ocaml/sdk-gen/go/templates/ConvertTime.mustache
  ocaml/sdk-gen/go/templates/Record.mustache
  ocaml/sdk-gen/go/test_data/record.go
  ocaml/sdk-gen/go/test_data/time_convert.go
  ocaml/sdk-gen/go/test_gen_go.ml
Labels: sdk-members-only
